In [1]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [2]:
test = pd.read_csv('Data_Files/test.csv')
test.drop(['Channel', 'Partnered', 'Mature', 'Language'], axis=1, inplace=True)

test['Wt/St'] = test['Watch time(Minutes)'] / test['Stream time(minutes)']
test['F/Vg'] = test['Followers'] / test['Views gained']

test = test[['Watch time(Minutes)', 'Peak viewers', 'Average viewers', 'Followers', 'Views gained', 
                'Wt/St', 'F/Vg']]

test.head()

,Watch time(Minutes),Peak viewers,Average viewers,Followers,Views gained,Wt/St,F/Vg
0,154332060,29983,5864,308815,8255635,5693.859436,0.037407
1,154277370,9437,1759,151886,3019137,1765.692361,0.050308
2,154125945,9460,2106,411346,4832180,1989.363601,0.085126
3,153988380,11200,1787,272635,4345590,1848.045365,0.062738
4,153963765,14329,1281,106365,1449834,1388.186503,0.073364

In [3]:
test = scaler.fit_transform(test.values)
test = pd.DataFrame(test)
test.head()

          0         1         2         3         4         5         6
0  1.841835  0.711092  1.007388  0.141619  0.434348  0.778397 -0.497977
1  1.836144 -0.340969 -0.151115 -0.439861 -0.247806 -0.166917 -0.360170
2  1.820387 -0.339791 -0.053185  0.521535 -0.011623 -0.113091  0.011755
3  1.806073 -0.250694 -0.143213  0.007559 -0.075010 -0.147099 -0.227389
4  1.803512 -0.090473 -0.286015 -0.608533 -0.452238 -0.257764 -0.113893

In [4]:
test.to_csv('4H 20Attempts/Data_Files/test_dataset.csv', index=False)