In [1]:
import os

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
import tensorflow as tf
import tensorflow.keras as keras
from scipy import stats

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, explained_variance_score
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [5]:
physical_devices = tf.config.list_physical_devices('GPU')
tf.config.experimental.set_memory_growth(physical_devices[0], True)

In [6]:
X = pd.read_csv('Distilled_Data/X.csv')
y = pd.read_csv('Distilled_Data/y.csv')

In [7]:
X.head()

   Watch time(Minutes)  Peak viewers  Average viewers  Followers         Wt/St
0           6196161750        222720            27716    3246298  28785.885017
1           6091677300        310998            25610    5310163  28755.350846
2           5644590915        387315            10976    1767635  10954.414910
3           3970318140        300575             7714    3944850   7668.555916
4           3671000070        285644            29602    8938903  29686.237021

In [8]:
y.head()

   Followers gained
0           1734810
1           1370184
2           1023779
3            703986
4           2068424