In [1]:
import os

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
import tensorflow as tf
import tensorflow.keras as keras

In [4]:
from sklearn.metrics import mean_squared_error, explained_variance_score

In [5]:
import sklearn.gaussian_process as gp

In [6]:
physical_devices = tf.config.list_physical_devices('GPU')
tf.config.experimental.set_memory_growth(physical_devices[0], True)

In [7]:
data = pd.read_csv('Trial 5_Processed Data.csv')
data.head()

,Watch time(Minutes),Stream time(minutes),Peak viewers,Average viewers,Followers,Followers gained,Views gained
0,22.547198,12.350268,12.382091,10.680240,14.997873,14.375459,18.348674
1,22.530192,12.335420,12.697012,10.630601,15.488099,14.141901,18.312224
2,22.453966,13.182615,12.906908,10.194215,14.394036,13.854299,18.446615
3,22.102116,13.187237,12.664595,10.064160,15.191912,13.486670,18.484244
4,22.023734,11.845332,12.616247,10.722695,16.007686,14.549894,18.185140

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X = data.drop('Followers gained', axis=1).values
y = data['Followers gained'].values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [10]:
kernel = gp.kernels.ConstantKernel(1.0, (1e-1, 1e3)) * gp.kernels.RBF(2.0, (1e-1, 1e3))

In [11]:
model = gp.GaussianProcessRegressor(kernel=kernel, n_restarts_optimizer=10, 
                                    alpha=6, normalize_y=True)

In [12]:
model.fit(X_train, y_train)

GaussianProcessRegressor(alpha=6, kernel=1**2 * RBF(length_scale=2),
                         n_restarts_optimizer=10, normalize_y=True)

In [13]:
y_pred, std = model.predict(X_test, return_std=True)

In [14]:
y_pred = np.exp(y_pred)
y_pred = y_pred.astype(int)

In [15]:
y_test = np.exp(y_test)
y_test = y_test.astype(int)

In [16]:
np.sqrt(mean_squared_error(y_test, y_pred))

11692.947407251519

In [17]:
np.sqrt(((y_test-y_pred)**2).mean())

11692.947407251519

In [18]:
test = pd.read_csv('Data_Files/test.csv')
test.head()

,Channel,Watch time(Minutes),Stream time(minutes),Peak viewers,Average viewers,Followers,Views gained,Partnered,Mature,Language
0,97R8L3J0,154332060,27105,29983,5864,308815,8255635,0,0,Russian
1,6UV44QFF,154277370,87375,9437,1759,151886,3019137,1,1,French
2,2WKQZUGR,154125945,77475,9460,2106,411346,4832180,1,0,Turkish
3,R4DGVX2D,153988380,83325,11200,1787,272635,4345590,1,0,French
4,P8YSNIOI,153963765,110910,14329,1281,106365,1449834,1,1,English

In [19]:
test.drop(['Channel', 'Partnered', 'Mature', 'Language'], axis=1, inplace=True)
test.head()

,Watch time(Minutes),Stream time(minutes),Peak viewers,Average viewers,Followers,Views gained
0,154332060,27105,29983,5864,308815,8255635
1,154277370,87375,9437,1759,151886,3019137
2,154125945,77475,9460,2106,411346,4832180
3,153988380,83325,11200,1787,272635,4345590
4,153963765,110910,14329,1281,106365,1449834

In [20]:
test += 15772
test = test.transform(np.log)
test = test.values

In [21]:
test_pred, test_std = model.predict(test, return_std=True)

In [22]:
test_pred = np.exp(test_pred)
test_pred = test_pred.astype(int)
test_pred -= 15772

In [23]:
actual = pd.read_csv('Data_Files/twitchdata-update.csv')[800:]
actual = actual['Followers gained']

In [24]:
actual = actual.values

In [25]:
np.sqrt(mean_squared_error(actual, test_pred))

109854.12533441791